* {
    box-sizing: border-box;

}
body {
    margin: 0;
    display: flex;
    flex-direction: column;

}



.unset {
    all: unset;
}
nav {
    background: #C1C1C1;
    height: auto;
    display:flex;
    /*align-self: stretch;*/
    /*align-items: flex-start;*/

}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
    /*align-content: space-evenly;*/

}

a {
     display:inline-block;
    text-decoration: none;
    color: #0E0E0E;
    font-family: "Work Sans", sans-serif;
}


a:hover {
    color: blue;

}

.logo {
    font-size: 3em;
    padding-top: .2em;
    padding-bottom: .2em;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    margin: auto;

}

.nav1 {
    height: 250px;
}
.box {
 display: flex;
    flex-direction: column;
}